        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
flex-direction: column;
}
body{
    background-color: rgba(89, 131, 252, 1);
background-image: linear-gradient(360deg, rgba(89, 131, 252, 1) 0%, rgba(209, 222, 255, 1) 100%);
background-repeat: no-repeat;
}
.box{
    width: 60%;
    height: 600px;
    display: flex;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
}
.box-head{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.box-mid{
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;    
    align-items: center;
}
input{
    width: 50%;
    border-radius: 10px;
    border: solid 1px rgba(89, 131, 252, 1);
}
#title{
    height: 40px;
}
#opis{
    height: 100px;
}
button{
    width: 50%;
    height: 50px;
    background-image: linear-gradient(rgba(89, 131, 252, 1) 0%, rgba(209, 222, 255, 1) 100%);
    color: white;
    border-radius: 10px;
    border: none;
    margin: 20px 0;
    font-size: 25px;
}
button:hover{
    background-image: linear-gradient(rgb(30, 86, 255) 0%, rgb(156, 184, 255) 100%);
    cursor: pointer;
    transition: 0.5s;
}
