*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body html{
width: 100%;
height: 100vh;
}
body{
    background-color: rgba(89, 131, 252, 1);
background-image: linear-gradient(360deg, rgba(89, 131, 252, 1) 0%, rgba(209, 222, 255, 1) 100%);
background-repeat: no-repeat;
display: flex;
align-items: center;
flex-direction: column;
margin: 200px 0;
}
.container{
display: flex;
align-items: center;
flex-direction: column;
width: 30%;
height: 600px;
background-color: aliceblue;
border-radius: 10px;
box-shadow:rgba(89, 131, 252, 1) 10px 10px 10px 0px ;
align-items: center;
}
form{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
}
form input{
width: 70%;
height: 50px;
border-color: lightgray;
margin: 20px;
}
#button{
    background-color: rgb(56, 153, 243);
    font-size: 23px;
    color: white;
}