        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
width: 100%;
height: 100vh;
}
body{
    background-color: rgba(89, 131, 252, 1);
background-image: linear-gradient(360deg, rgba(89, 131, 252, 1) 0%, rgba(209, 222, 255, 1) 100%);
background-repeat: no-repeat;
display: flex;
align-items: center;
flex-direction: column;
}
header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color:rgba(89, 131, 252, 1) ;
    text-decoration: none;
    font-size: 30px;
    margin: 20px;
}
a:hover{
    cursor: pointer;
    color:rgb(10, 71, 255) ;
    transition: 0.5s;
}
main{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
}
.ariticles{
    width: 80%;
    display: flex;
    background-color: rgb(92, 92, 92);
    border-radius: 10px;
    margin: 30px 0;
    flex-wrap: wrap;
}
article{
width: 300px;
height: 200px;
margin: 20px;
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}